body
{
    margin: 10px 0 ;
    padding: 0 ;
    text-align: center ;
    min-width: 520px;
    font:1em Courier New, monospace;
    background: #9E8479 ;
}

#menu 
{
    margin:0 20px 0 40px;
    padding: 0;
    list-style: upper-roman;
    background:#FFEFB6;
    float:left;
	border:1px solid #000;
    text-align: left;
	list-style-position: inside;
	min-width: 160px;
}

li
{
    margin:5px 10px 10px 10px;
}

a:link
{
	color: black;
	
}

div#conteneur
{
    display: flex;
    background:#FFEFB6 ;
	margin:0 20px 0 0;
	text-align:center;
	border:2px solid #000;
}

h1#header
{
    height: 100px;
    background: url(../images/background.jpg) no-repeat center;
}