body
{
  margin: 10px 0 ;
  padding: 0 ;
  text-align: center ;
  font:1em Courier New, monospace;
  background: #9E8479 ;
}

div#conteneur
{
	width:800px ;
	background:#FFEFB6 ;
	margin:0 auto;
	text-align:center;
	border:2px solid #000;
	
}

h1#header
{
	height: 100px;
	background: url(104245688.jpg) no-repeat center;

	
}

pre
{
	overflow:auto;
}

div#contenu
{
	padding: 0 30px 0 100px;
}

div#contenu h2
{
	padding-left: 25px ;
	line-height: 25px ;
	border-bottom: 1px solid ;
}